.TempleForm{
    background-color:  white;
    background-image: url('https://antiquebetabucket.s3.ap-south-1.amazonaws.com/file1704347437411');
    background-size: cover;
}

.TempleInput{
    @apply outline-none py-3 pl-4 w-full bg-transparent border mt-2 rounded-lg border-black
}